body {
  background-color: #eeecec;
}


.shadow {
  display: inline-block;
  background: white;
  box-shadow: 0 0 50px;
  transition: 0.3s color;
  color: #61dafb;
  border-radius: 50%;
}
.topic {
  text-align: center;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 2%;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 400%;
  color: rgb(12, 53, 71);
  font-style: italic;
}

.det {
  margin: auto;
  margin-left: 20%;
  margin-right: 20%;
  font-family: Verdana, Helvetica, sans-serif;
}

#btn {
  margin-left: auto;
  color: rgb(0, 0, 0);
  border: #0f0e0e solid 1px;
}
#signup-btn {
  margin-left: 15px;
  background-color: #ffbf00;
  border: #0f0e0e solid 1px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  margin-top: 90px;
  text-align: center;
}

.logo {
  height: 110px;
}

.page-header {
  height: 200px;
  width: 72vw;
  padding: 40px;
}

.header-title {
  padding-top: 10px;
  font-size: 1.5em;
  color: black;
  font-family: ' Tahoma ', sans-serif;  
}

.content-sub {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 20px;
}
.ourTeam {
  font-family: "lato", "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue",
    Helvetica, Arial, sans-serif;
  padding: 10px;
  font-size: 2.5em;
  margin-top: 10px;
  margin-bottom: 5px;
  border-bottom: 4px solid #000;
}

.ourTeam p {
  margin: 0%;
}
#team {
  max-width: 70vw;
  width: 100%;
  overflow: hidden;
}

#tmpxyz {
  margin-bottom: 10px;
}

.caption {
  margin-top: 5px;
  margin-right: 85px;
  padding: 2px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-family: "lato", "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue",
    Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.team-img {
  height: 400px;
  margin-right: 5px;
}
